#main-logo-container.analysis.solid-bg {
    background-color: rgba(0, 0, 0, 1);
}

section.analysis.top {
    background-color: #222;
    background-image:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url('../../images/backgrounds/analysis-background-mobile.jpg');
    background-size: cover;
    background-position: right top;
    height: 70vh;
    min-height: inherit;

    @media all and (min-width: 992px) {
        background-position: center top;
        background-image:
            linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
            url('../../images/backgrounds/analysis-background.jpg');
        height: 100vh;
    }

    .content {
        height: 100%;
        width: 85%;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .page-title-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 40px;
        width: 100%;

        @media all and (min-width: 992px) {
            position: relative;
            justify-content: flex-start;
            flex-direction: row;
            width: 48%;
            bottom: auto;
            // top: -19%;
        }
    }

    .mcx {
        width: 100px;
        display: block;
        margin-bottom: 20px;

        @media all and (min-width: 992px) {
            display: inline-block;
            width: 60px;
            margin-bottom: 0;
            margin-right: 15px;
        }

        @media all and (min-width: 1200px) {
            width: 100px;
        }
    }

    .page-title {
        display: inline-block;
        font-size: 34px;
        text-shadow: 0 1px 2px #000;
        color: #fff;
        margin: 0;
        line-height: 1;

        @media all and (min-width: 992px) {
            font-size: 50px;
        }

        @media all and (min-width: 1200px) {
            font-size: 70px;
        }
    }

    .intro-text {
        position: absolute;
        padding: 25px;
        display: none;
        width: 100%;

        @media all and (min-width: 992px) {
            position: relative;
            display: block;
            width: 48%;
            // top: 50%;
            // left: 50%;
            // transform: translate(0, -50%);
        }

        .text-box {
            line-height: 1.7;
            color: #fff;
            max-width: 500px;

            p {
                font-size: 14px;
                margin: 20px 0;
            }

            a {
                color: #fff;

                &:hover,
                &:focus {
                    color: $mcx-red;
                }
            }

            h3 {
                font-family: $header-font-narrow;
                font-size: 38px;
                margin: 55px 0 20px;
                line-height: 1;
            }

            ul li {
                font-family: $header-font-narrow;
                font-size: 18px;
                letter-spacing: 1px;
                margin: 10px 0;
            }
        }
    }

    .down-arrow {
        bottom: 20px;
        display: none;

        @media all and (min-width: 992px) {
            display: block;
        }
    }
}

section.analysis.mobile-content {
    background-color: #fff;
    padding: 3% 0;
    min-height: inherit;
    line-height: 1.7;

    @media all and (min-width: 992px) {
        display: none;
    }

    p {
        font-size: 14px;
        margin: 20px 0;
    }

    h3 {
        font-family: $header-font-narrow;
        font-size: 38px;
        margin: 55px 0 20px;
        line-height: 1;
    }

    ul li {
        font-family: $header-font-narrow;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 10px 0;
    }
}

section.analysis.cta {
    background-color: darken($mcx-red, 10%);
    padding: 20px;
    min-height: 50vh;

    .text {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h4 {
        line-height: 1.5;
        font-size: 20px;
        color: #eee;
        margin: 0;

        @media all and (min-width: 768px) {
            font-size: 28px;
        }
    }

    .btn {
        border-color: #aaa;
        background-color: #222;
        color: #fff;
        margin-top: 40px;

        &:hover,
        &:focus {
            background-color: #000;
            border-color: #fff;
        }
    }
}
