#main-logo-container.analysis.black-bg {
    background-color: rgba(0, 0, 0, .8);
}

section.analysis.top {
    background-color: #222;
    background-image:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url('../../assets/images/backgrounds/analysis-background-mobile.jpg');
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    height: 70vh;
    min-height: inherit;

    @media all and (min-width: 992px) {
        background-position: center top;
        background-image:
            linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
            url('../../assets/images/backgrounds/analysis-background.jpg');
        height: 100vh;
    }

    .intro-text {
        position: absolute;
        padding: 25px;
        bottom: 0;

        @media all and (min-width: 992px) {
            top: 50%;
            left: 50%;
            bottom: auto;
            transform: translate(0, -50%);
        }

        .page-title {
            font-size: 35px;
            text-shadow: 0 1px 2px #000;
            color: $mcx-red;
            margin: 0;
            line-height: 1;

            @media all and (min-width: 992px) {
                font-size: 65px;
            }
        }

        .text-box {
            display: none;
            line-height: 1.7;
            color: #fff;
            max-width: 500px;

            @media all and (min-width: 992px) {
                display: block;
            }

            p {
                font-size: 14px;
                margin: 20px 0;
            }

            a {
                color: #fff;

                &:hover,
                &:focus {
                    color: $mcx-red;
                }
            }

            h3 {
                font-family: $header-font-narrow;
                font-size: 38px;
                margin: 55px 0 20px;
                line-height: 1;
            }

            ul li {
                font-family: $header-font-narrow;
                font-size: 18px;
                letter-spacing: 1px;
                margin: 10px 0;
            }
        }
    }

    .down-arrow {
        bottom: 60px;

        @media all and (min-width: 768px) {
            bottom: 20px;
        }
    }
}

section.analysis.mobile-content {
    background-color: #fff;
    padding: 0 0 40px;
    min-height: inherit;
    line-height: 1.7;

    @media all and (min-width: 992px) {
        display: none;
    }

    p {
        font-size: 14px;
        margin: 20px 0;
    }

    h3 {
        font-size: 38px;
        margin: 55px 0 20px;
        line-height: 1;
    }

    ul li {
        font-family: $header-font;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 10px 0;
    }
}

section.analysis.cta {
    background: darken($mcx-red, 10%);
    padding: 20px;
    min-height: 50vh;

    .text {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    h4 {
        line-height: 1.5;
        font-size: 20px;
        color: #222;

        @media all and (min-width: 768px) {
            font-size: 24px;
        }
    }

    .btn {
        border-color: #555;
        color: #fff;

        &:hover,
        &:focus {
            border-color: #fff;
        }
    }
}
