section.analysis.top {
    background-color: #222;
    background-size: cover;
    background-position: center top;
    background-image:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url('../../assets/images/backgrounds/analysis-background.jpg');

    .intro-text {
        position: absolute;
        padding: 25px;
        bottom: 0;

        @media all and (min-width: 992px) {
            top: 50%;
            left: 50%;
            bottom: auto;
            transform: translate(0, -50%);
        }

        .page-title {
            font-size: 40px;
            color: darken($mcx-red, 10%);
            margin: 0;
            line-height: 1;

            @media all and (min-width: 992px) {
                font-size: 110px;
            }
        }

        .text-box {
            display: none;
            line-height: 1.7;
            color: #fff;
            max-width: 500px;

            @media all and (min-width: 992px) {
                display: block;
            }

            p {
                font-size: 14px;
                margin: 20px 0;
            }

            a {
                color: #fff;

                &:hover,
                &:focus {
                    color: $mcx-red;
                }
            }

            h3 {
                font-size: 38px;
                margin: 55px 0 20px;
                line-height: 1;
            }

            ul li {
                font-family: $header-font;
                font-size: 18px;
                letter-spacing: 1px;
                margin: 10px 0;
            }
        }
    }
}

section.analysis.mobile-content {
    background-color: #fff;
    padding: 40px 0;
    min-height: inherit;
    line-height: 1.7;

    @media all and (min-width: 992px) {
        display: none;
    }

    p {
        font-size: 14px;
        margin: 20px 0;
    }

    h3 {
        font-size: 38px;
        margin: 55px 0 20px;
        line-height: 1;
    }

    ul li {
        font-family: $header-font;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 10px 0;
    }
}
