section.sign-up.top {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;

    .text-box {
        text-align: center;
        width: 100%;
        padding-top: 80px;

        @media all and (min-width: 992px) {
            width: calc(70% - 300px);
            max-width: 800px;
            padding-top: 0;
        }
    }

    .founders {
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .founder-container {
        text-decoration: none;
        width: 100%;
        text-align: center;

        @media all and (min-width: 480px) {
            width: 40%;
        }

        img {
            width: 100%;
            max-width: 260px;
            border-radius: 100%;
            border: 8px solid #ddd;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);

            &:hover + .name-and-title,
            &:focus + .name-and-title {
                opacity: 1;
            }
        }

        .name-and-title {
            text-align: center;

            .name {
                color: $mcx-red;
                font-weight: 800;
                font-size: 20px;
            }

            .title {
                padding-left: 0;
                list-style-type: none;
                color: #000;
                font-size: 12px;
                line-height: 1.7;
            }
        }
    }
}
