#main-logo-container {
    position: absolute;

    h4 {
        font-size: 9px;
        margin-left: 15px;
        margin-top: 0;

        @media all and (min-width: 768px) {
            font-size: 14px;
        }
    }
}

section.sign-up.top {
    min-height: 100vh;
    padding-bottom: 15px;

    @media all and (min-width: 768px) {
        background-image: url('../../assets/images/backgrounds/particles-background-white.jpg');
        background-size: 130% auto;
        background-position: right center;
        padding-bottom: 0;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
    }

    .text-box {
        text-align: center;
        width: 100%;
        padding-top: 120px;

        @media all and (min-width: 992px) {
            width: calc(70% - 300px);
            max-width: 800px;
            padding-top: 0;
        }
    }

    .founders {
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .founder-container {
        text-decoration: none;
        width: 100%;
        text-align: center;
        padding: 15px;

        @media all and (min-width: 480px) {
            width: 40%;
            padding: 0;
        }

        img {
            width: 100%;
            border-radius: 100%;
            border: 8px solid #ddd;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);

            @media all and (min-width: 992px) {
                filter: grayscale(1) brightness(.8);

                &:hover,
                &:focus {
                    filter: none;
                }
            }
        }

        .name-and-title {
            text-align: center;

            .name {
                color: $mcx-red;
                font-weight: 800;
                font-size: 14px;
                font-family: $header-font;
            }
        }
    }

    .statement {
        width: 100%;
        text-align: center;
        margin: 60px 0 10px;
        line-height: 1;
        color: rgba(0, 0, 0, .4);

        @media all and (min-width: 992px) {
            letter-spacing: 4px;
            font-size: 40px;
            position: absolute;
            bottom: 15px;
            margin: 0;
        }
    }
}
