section.tools.content {
    padding: 20px 0;
    margin-bottom: -10vh;
    z-index: 1;

    @media all and (min-width: 768px) {
        padding: 80px 0px;
    }

    .tool-box {
        background-color: #eee;
        margin: 40px 0;
        box-shadow: 0 5px 12px -2px rgba(0, 0, 0, .5);

        .image {
            width: 100%;
            padding-bottom: 70%;
            background-size: cover;
            background-position: center;

            @media all and (min-width: 992px) {
                width: 50%;
                padding-bottom: 35%;
            }
        }

        .text-box {
            padding: 0 15px;

            @media all and (min-width: 768px) {
                width: 100%;
            }

            @media all and (min-width: 992px) {
                width: 50%;
            }

            h3 {
                font-size: 24px;
                margin-top: 20px;

                @media all and (min-width: 992px) {
                    font-size: 28px;
                }
            }

            a {
                color: #000;

                &:visited {
                    color: #555;
                }

                &:hover {
                    color: $mcx-red;
                }
            }

            p, li {
                font-size: 14px;
                line-height: 1.7;

                @media all and (min-width: 992px) {
                    font-size: 12px;
                    line-height: 1.5;
                }

                @media all and (min-width: 1200px) {
                    font-size: 14px;
                    line-height: 1.7;
                }
            }
        }

        @media all and (min-width: 992px) {
            margin: 100px 0;

            &::before {
                box-sizing: content-box;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: -16px;
                top: -16px;
                border: 4px solid #ccc;
                padding: 12px;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -85px;
                left: 25%;
                width: 4px;
                background-color: #ccc;
                height: 70px;
            }

            &:nth-of-type(2) {
                &::after {
                    left: 75%;
                }
            }
        }

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;

            &::after {
                display: none;
            }
        }
    }

    .tool-box:nth-of-type(1) .image {
        background-image: url('../../images/isophit.jpg');
        background-position: center bottom;
    }

    .tool-box:nth-of-type(2) .image {
        background-image: url('../../images/contrology.jpg');
        background-position: right center;
    }

    .tool-box:nth-of-type(3) .image {
        background-image: url('../../images/weight-training.jpg');
        background-position: center bottom;
    }
}
