section.tools.top {
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url('../../images/backgrounds/tools-background-full-red.jpg');
    background-size: cover;
    background-position: center;

    .container {
        height: 100%;
    }

    .intro-text {
        text-align: center;
        padding-top: 120px;

        @media all and (min-width: 992px) {
            padding-top: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
        }

        .mcx {
            width: 100px;
            padding-bottom: 20px;

            @media all and (min-width: 992px) {
                padding-bottom: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .page-title {
            font-size: 36px;
            color: #fff;
            margin: 0;

            @media all and (min-width: 992px) {
                font-size: 60px;
                margin-left: 110px;
            }
        }
    }

    .down-arrow {
        bottom: 60px;

        @media all and (min-width: 768px) {
            bottom: 20px;
        }
    }
}
