section.nfl-combine-pro-day-summer-2020.wonderlic {
    background-image: url('../../images/backgrounds/systems-background.jpg');
    background-size: cover;
    background-position: left;
    padding: 80px 40px;

    @media all and (min-width: 800px) {
        padding: 180px 80px;
    }

    @media all and (min-width: 1400px) {
        padding: 240px 80px;
    }

    h3 {
        color: #eee;
        max-width: 600px;
        font-size: 36px;

        @media all and (min-width: 800px) {
            font-size: 54px;
        }
    }

    p {
        color: #ccc;
        font-family: $header-font-narrow;
        font-size: 24px;
        line-height: 1.6;
        max-width: 700px;
    }
}