section.nfl-combine-pro-day {
    min-height: initial;

    p {
        line-height: 1.7;
    }

    h3 {
        font-family: $header-font-narrow;
        font-size: 28px;
        margin-top: 0;
        line-height: 1.2;
    }
}

.nfl-combine-pro-day#main-logo-container.solid-bg {
    background-color: #000;
}
