$border-width: 4px;
$border-color: #444;

section.nfl-combine-pro-day.lodging-and-transportation {
    border: $border-width solid $border-color;

    .split-box.textbox {
        background-color: #444;
        background-image:
            linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)),
            url('../../images/backgrounds/particles-background.png');
        background-size: cover;
        background-position: center;
        padding: 20px;
        min-height: initial;

        @media all and (min-width: 1300px) {
            padding: 40px 70px;
        }

        h3 {
            color: #eee;
            font-size: 36px;
            line-height: 1.2;

            @media all and (min-width: 1300px) {
                font-size: 50px;
            }
        }

        p {
            color: #eee;
            font-family: $header-font-narrow;
            font-size: 20px;

            @media all and (min-width: 1300px) {
                font-size: 26px;
            }
        }
    }


    .split-box {
        min-height: 40vh;
        align-self: stretch;
        background-size: cover;
        background-position: 0 70%;
        border: $border-width solid $border-color;
        width: 100%;

        @media all and (min-width: 768px) {
            min-height: 30vw;
            width: 50%;
        }

        &[habitat-residence-living-room] {
            background-image: url('../../images/habitat-residence-living-room.jpg');
        }

        &[habitat-residence-pool] {
            background-image: url('../../images/habitat-residence-pool.jpg');
        }

        &[habitat-residence-desk] {
            background-image: url('../../images/habitat-residence-desk.jpg');
        }
    }
}
