section.nfl-combine-pro-day.path-to-the-draft {
    background-color: #000;
    min-height: 70vh;
    overflow-y: hidden;

    .textbox {
        padding: 30px;

        @media all and (min-width: 1100px) {
            margin-left: 45%;
            max-width: 800px;
        }

        h3 {
            color: #eee;
            font-family: $header-font;
            font-size: 32px;

            @media all and (min-width: 600px) {
                margin-top: 15%;
                font-size: 42px;
            }
        }

        p {
            color: #bbb;
            font-family: $header-font-narrow;
            line-height: 1.5;
            font-size: 18px;

            @media all and (min-width: 600px) {
                font-size: 24px;
            }
        }
    }

    .footballers {
        position: absolute;
        width: 200px;
        bottom: -30px;
        left: 0;
        transform: scaleX(-1);

        @media all and (min-width: 600px) {
            width: 300px;
            bottom: -40px;
        }

        @media all and (min-width: 1100px) {
            width: 600px;
            bottom: -80px;
        }
    }
}
