extends ../layout

block head
    include ../partials/head
    +makeHead('Page Not Found')

block content
    - var globals = htmlWebpackPlugin.options
    h1 404 Page Not Found
    div
        a(href= globals.rootUrl + "/")
            button Go To Homepage
