extends ../layout

block head
    include ../partials/head
    +makeHead('About')

block content
    #main-logo-container
        img.main-logo(src="assets/images/logos/myocortex_wide.svg" alt="MYOCORTEX full logo")
    section.about.top
        img.banner-image(src='', alt='MYOCORTEX About')
        .banner-image-overlay
        .container
            .intro-text
                h1.page-title analysis
                h6 begin with a complimentary consultation
    section.about.content
