extends ../layout

block head
    include ../partials/head
    +makeHead('About')

block content
    - var globals = htmlWebpackPlugin.options
    #main-logo-container
        a(href='..')
            img.main-logo(src= globals.rootUrl + "/assets/images/logos/myocortex_wide.svg", alt="MYOCORTEX full logo")
    section.about.top
        img.banner-image(src= globals.rootUrl + '/', alt='MYOCORTEX About')
        .banner-image-overlay
        .container
            .intro-text
                h1.page-title analysis
                h6 begin with a complimentary consultation
    section.about.content
