extends ../layout

block head
    include ../partials/head
    +makeHead('Analysis')

block content
    #main-logo-container
        img.main-logo(src="../assets/images/logos/myocortex_wide.svg" alt="MYOCORTEX full logo")
    section.analysis
        .intro-text
            h1.page-title analysis
            .text-box
                p The MYOCORTEX process begins with an initial complimentary 30-minute consulation to discuss your specific needs and goals. If we determine our system is a good fit for you, we will schedule a complete assessment using Greg Roskopf's #[a(href='') Muscle Activiation Techniques]#[sup #[small TM]] (MAT).
                h3 Complete MAT assessment
                p This 60-minute assessment consist of the following:
                ul
                    li Detailed health history
                    li Postural examination
                    li Range of motion evaluation
                p After the assessment is complete, we will have a full understanding of your current physiological state, allowing us to create a plan tailored for your body.
                    
