extends ../layout

block head
    include ../partials/head
    +makeHead('Group Training')

block content
    - var globals = htmlWebpackPlugin.options
    #main-logo-container.group-training
        a(href= globals.rootUrl + '/')
            img.main-logo(src= globals.rootUrl + "/assets/images/logos/myocortex_logo_black.svg", alt="MYOCORTEX full logo")
    section.group-training.top
        .text
            h4 Group Training
            p The Group Workouts have specific goals using a periodization plan.
            p It's not BootCamp.
            p It's not CrossFit.
            p It's Strength Training evaluated and recorded consistently to ensure positive muscular development. Our coaches bring accountability and empowerment to your training.
            div.appear
                a.btn.mind-body-link(href= globals.rootUrl + '/sign-up') schedule
        .images-container
            img.footballers(src= globals.rootUrl + '/assets/images/people/footballers.png', alt='football players')
            img.logo(src= globals.rootUrl + '/assets/images/logos/mcx-white.png', alt='White MYOCORTEX logo')
            img.woman(src= globals.rootUrl + '/assets/images/people/jumping-woman.png', alt='jumping woman')
    section.group-training.cta
        .text
            h4.appear Learn More
            a.btn.appear.learn-more-btn(href= globals.rootUrl + '/sign-up') Contact Us
            img.logo(src= globals.rootUrl + '/assets/images/logos/mcx-contrast-dark.png')
