extends ../layout

block head
    include ../partials/head
    +makeHead('Home')

block content
    - var globals = htmlWebpackPlugin.options
    #main-logo-container
        a(href= globals.rootUrl + '/')
            img.main-logo(src= globals.rootUrl + "/assets/images/logos/myocortex_logo_black.svg", alt="MYOCORTEX full logo")
    section.above-the-fold
        .homepage-hero-module
            .video-container
                video.fillWidth(autoplay, loop, poster= globals.rootUrl + '/assets/images/backgrounds/homepage-video-poster.jpg')
                    source(src= globals.rootUrl + '/assets/videos/homepage-background.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                    //- source(src='assets/videos/Typing.webm', type='video/webm')
                    //- | Your browser does not support the video tag. I suggest you upgrade your browser.
                .poster
        .filter
        .container
            .intro-text
                h4 break barriers.#[br]redefine your results.
                img.mcx(src= globals.rootUrl + "/assets/images/logos/mcx.png", alt="MYOCORTEX MCX logo")
            span.down-arrow
                i.fa.fa-angle-down(aria-hidden="true")
        h6.large-statement respect
    section.process#process
        div#particles-js
        h2.title the#[br]process
        .container.left-right
            .left.three-women#three-women
                img.woman1(src= globals.rootUrl + '/assets/images/people/woman1.png', alt="woman stretching")
                img.woman2(src= globals.rootUrl + '/assets/images/people/woman2.png', alt="woman running")
                img.woman3(src= globals.rootUrl + '/assets/images/people/woman3.png', alt="woman running")
            .right
                .content
                    .mission-statement
                        p.appear Our Mission is to train muscles, not motions. MYOCORTEX is committed to strengthening the neuromuscular system with controlled movement and isometric exercises. Our goal is to build a healthy foundation while limiting breakdowns, pain and injures.
                    .buttons-container
                        a.btn.appear(href= globals.rootUrl + '/private-training') Private Training 
                        a.btn.appear(href= globals.rootUrl + '/group-training') Group Training 
    section.respect-the-process#respect-the-process
        h2.title respect the process
        .text
            h4.appear Commit To Excellence
            a.btn.appear(href= globals.rootUrl + '/analysis') Continue
            img.logo(src= globals.rootUrl + '/assets/images/logos/mcx-contrast-dark.png')
