extends ../layout

block head
    include ../partials/head
    +makeHead('Home')

block content
    #main-logo-container
        a(href='')
            img.main-logo(src="assets/images/logos/myocortex_wide.svg" alt="MYOCORTEX full logo")
    section.above-the-fold
        .homepage-hero-module
            .video-container
                video.fillWidth(autoplay, loop)
                    source(src='assets/videos/homepage.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                    //- source(src='assets/videos/Typing.webm', type='video/webm')
                    //- | Your browser does not support the video tag. I suggest you upgrade your browser.
                .poster
        .filter
        .container
            .intro-text.appear
                h4 break barriers.#[br]redefine your results.
                img.mcx(src="assets/images/logos/mcx.png" alt="MYOCORTEX MCX logo")
            a.down-arrow(href='#process')
                i.fa.fa-angle-down(aria-hidden="true")
        h6.large-statement respect
    section.process#process
        div#particles-js
        .container
            h2.title the#[br]process
        .container.left-right
            .left.three-women#three-women
                img.woman1(src='assets/images/people/woman1.png', alt="woman stretching")
                img.woman2(src='assets/images/people/woman2.png', alt="woman running")
                img.woman3(src='assets/images/people/woman3.png', alt="woman running")
            .right
                .content
                    .mission-statement
                        p.appear Our Mission is to train muscles, not motions. MYOCORTEX is committed to strengthening the neuromuscular system with controlled movement and isometric exercises. Our goal is to build a healthy foundation while limiting breakdowns, pain and injures.
                        p.appear Click one of the icons below to learn more...
                    .tabs-container
                        a.tab.appear(href="analysis")
                            img.icon(src='assets/images/icons/analysis-icon.svg', alt='analysis icon')
                            h4.tab-title analysis
                        a.tab.appear.delay-200(href="systems")
                            img.icon(src='assets/images/icons/systems-icon.svg', alt='analysis icon')
                            h4.tab-title systems
                        a.tab.appear.delay-400(href="tools")
                            img.icon(src='assets/images/icons/tools-icon.svg', alt='analysis icon')
                            h4.tab-title tools
    section.team-training#team-training
        .text
            h4.appear team training
            p.appear The Workouts have specific goals using a periodization plan.
            p.appear It's not BootCamp.
            p.appear It's not CrossFit.
            p.appear It's Strength Training evaluated and recorded consistently to ensure positive muscular development. Our coaches bring accountability and empowerment to your training.
            a.btn.mind-body-link(href='') Link to MIND BODY
        .images-container
            img.man(src='assets/images/people/footballer.png', alt='football quarterback')
            img.logo(src='assets/images/logos/mcx-white.png', alt='White MYOCORTEX logo')
            img.woman(src='assets/images/people/jumping-woman.png', alt='jumping woman')
    section.respect-the-process#respect-the-process
        h2.title respect the process
        .text
            h4.appear you deserve better
            a.btn.appear.learn-more-btn(href='analysis') learn more
