extends ../layout

block head
    include ../partials/head
    +makeHead('Home')

block content
    #main-logo-container
        img.main-logo(src="assets/images/logos/myocortex_wide.svg" alt="MYOCORTEX full logo")
    section.above-the-fold
        .container
            .intro-text
                h4 break barriers.#[br]redefine your results.
                img.mcx(src="assets/images/logos/mcx.png" alt="MYOCORTEX MCX logo")
            a.down-arrow(href='#process')
                i.fa.fa-angle-down(aria-hidden="true")
            h6.large-statement respect
    section.process#process
        .container
            h2.title the#[br]process
        .container.left-right
            .left.three-women#three-women
                img.woman1(src='' alt="woman jumping")
                img.woman2(src='' alt="woman stretching")
                img.woman3(src='' alt="woman stretching")
            .right
                .content
                    .mission-statement
                        p Our Mission is to train muscles, not motions. MYOCORTEX is committed to strengthening the neuromuscular system with controlled movement and isometric exercises. Our goal is to build a healthy foundation while limiting breakdowns, pain and injures.
                        p Click one of the icons below to learn more...
                    .tabs-container
                        a.tab(href="analysis")
                            i.icon.fa.fa-line-chart(aria-hidden="true")
                            h4.tab-title analysis
                        a.tab(href="systems")
                            i.icon.fa.fa-heartbeat(aria-hidden="true")
                            h4.tab-title systems
                        a.tab(href="tools")
                            i.icon.fa.fa-wrench(aria-hidden="true")
                            h4.tab-title tools
    section.team-training#team-training
        .text
            h4 team training
            p The Workouts have specific goals using a periodization plan.
            p It's not BootCamp.
            p It's not CrossFit.
            p It's Strength Training evaluated and recorded consistently to ensure positive muscular development. Our coaches bring accountability and empowerment to your training.
            a.btn.mind-body-link(href='') Link to MIND BODY
        .images-container
            img.man(src='assets/images/people/footballer.png', alt='football quarterback')
            img.logo(src='assets/images/logos/mcx-white.png', alt='White MYOCORTEX logo')
            img.woman(src='assets/images/people/jumping-woman.png', alt='jumping woman')
    section.respect-the-process#respect-the-process
        h2.title respect the process
        .text
            h4 you deserve better
            a.btn.learn-more-btn(href='analysis') learn more
