extends ../layout

block head
    include ../partials/head
    +makeHead('Systems')

block content
    - var globals = htmlWebpackPlugin.options
    #main-logo-container
        a(href= globals.rootUrl + '/')
            img.main-logo(src= globals.rootUrl + "/assets/images/logos/myocortex_logo_white.svg", alt="MYOCORTEX full logo")
    section.private-training.top
        .content
            .intro-text
                img.mcx(src= globals.rootUrl + "/assets/images/logos/mcx.png", alt="MYOCORTEX MCX logo")
                h1.page-title Private#[br]Training 
            .tabs-container-outer
                .tabs-container-inner
                    a.tab.appear(href= globals.rootUrl + "/analysis")
                        img.icon(src= globals.rootUrl + '/assets/images/icons/analysis-icon.svg', alt='analysis icon')
                        h4.tab-title analysis
                    a.tab.appear.delay-200(href= globals.rootUrl + "/systems")
                        img.icon(src= globals.rootUrl + '/assets/images/icons/systems-icon.svg', alt='analysis icon')
                        h4.tab-title systems
                    a.tab.appear.delay-400(href="tools")
                        img.icon(src= globals.rootUrl + '/assets/images/icons/tools-icon.svg', alt='analysis icon')
                        h4.tab-title tools
    section.private-training.cta
        .text
            h4.appear Group Training
            a.btn.appear.learn-more-btn(href= globals.rootUrl + '/group-training') Learn More        
            img.logo(src= globals.rootUrl + '/assets/images/logos/mcx-contrast-dark.png')
