extends ../layout

block head
    include ../partials/head
    +makeHead('Sign-up')

block content
    - var globals = htmlWebpackPlugin.options
    #main-logo-container
        a(href= globals.rootUrl + '/')
            img.main-logo(src= globals.rootUrl + "/assets/images/logos/myocortex_logo_black_with_mcx.svg", alt="MYOCORTEX full logo")
        h4 break barriers.#[br]redefine your results.
    section.sign-up.top
        .flex-container
            .text-box
                h1.page-title founders
                .founders
                    a.founder-container(target='_blank', rel='noopnener', href='')
                        img(src= globals.rootUrl + '/assets/images/people/rob_headshot.jpg', alt="Rob")
                        .name-and-title
                            p.name Rob DiDonato
                    a.founder-container(target='_blank', rel='noopnener', href='')
                        img(src= globals.rootUrl + '/assets/images/people/courtney_headshot.jpg', alt="Courtney")
                        .name-and-title
                            p.name Courtney Paige Alvarez
            .form-container
                h2 Information Inquiry
                form#sign-up-form
                    label Name
                    input(type='text', id='name', name='name', required)
                    label Email
                    input(type='email', id='email', name='email', required)
                    label Phone
                    input(type='tel', id='phone', name='phone', required)
                    label Subject
                    select(id='subject', name='subject')
                      option(value='General Inquiry', selected='true') -- Select --
                      option(value='Muscle Activation') Muscle Activation
                      option(value='Exercise Experience') Exercise Experience
                      option(value='Book Appointment') Book Appointment
                      option(value='More Information') More Information
                    label Message
                    textarea(id='message', name='message' value=" ")
                    button(type='submit') SEND
                    #feedback
                p A representation from MYOCORTEX will contact you to schedule a date and time.
        h4.statement respect the process
