extends ../layout

block head
    include ../partials/head
    +makeHead('Systems')

block content
    #main-logo-container
        a(href='..')
            img.main-logo(src="../assets/images/logos/myocortex_logo_white.svg" alt="MYOCORTEX full logo")
    section.systems.top
        .container
            .intro-text
                h1.page-title Systems
                img.mcx(src="../assets/images/logos/mcx.png" alt="MYOCORTEX MCX logo")
    section.systems.content
        .container
            .text-box
                h4.content-title.appear Muscle Activiation Techniques (MAT)
                p MAT is a systematic approach to evaluate, treat and test muscle contraction, which was founded on the principle that normal movement is fundamental to human health and that a muscle’s ability to contract efficiently is important for functional exercise.
                p Any loss of muscle contraction may be demonstrated as a loss of motion and decreased physical performance, which may lead to pain and/or the loss of physical capabilities.
                p The human body is designed to be symmetrical. Comparing left to right motion evaluates an individual's muscle contractile capability.
                p If asymmetry is determined then we use precise forces applied to restore and re-activate muscle efficiency. MAT is a mechanical study of functional movement.
                br
                h4.content-title.appear The Exercise Experience #[sup #[small TM]] (RTS)
                div.equation.appear
                    div.left
                        span Ex =&nbsp;
                    div.right
                        span.top #{'P/(M × J) + R/S + I/E + T/F'}
                        span.bottom A
                p.appear Exercise is about forces; internal force production in response to external force application to produce a desired outcome. Exercise is a process; stimulating the appropriate level of contraction determined by your current status and goal. Exercise is a continual investigation; strategically manipulating range, movement pattern, or strength-resistance relationship™to orchestrate a focused challenge altering the level of difficulty.
                p.appear Clients Can Expect:
                ul.appear
                    li A Client-Defined Exercise Routine
                    li Increase and/or maintain specific force generated strengths
                    li Optimize muscular endurance
                    li Stop, reverse, slow down the degenerative joint, musculoskeletal, and neuromuscular processes
                    li Facilitate efficient and effective training
                    li Deliver results while decreasing risk of injury and limit breakdowns
                    li Promote overall health without pain          
    section.systems.cta
        .text
            h4.appear learn about our tools
            a.btn.appear.learn-more-btn(href='../tools') continue          
