section.systems.cta {
    background-image: url('../../assets/images/backgrounds/canvas-texture.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 80vh;

    #particles-js {
        display: none;

        @media all and (min-width: 992px) {
            display: block;
            position: absolute;
            width: 30%;
            height: 90%;
        }
    }

    .text {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    h4 {
        line-height: 1.5;
        font-size: 20px;

        @media all and (min-width: 768px) {
            font-size: 24px;
        }
    }
}
