section.systems.MAT {
    min-height: inherit;
    padding: 5px 0;

    .golfer {
        display: none;
        opacity: 0;

        @media all and (min-width: 992px) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 95%;
            animation-name: golfer-appear;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-delay: 200ms;
        }
    }

    .text {
        margin: 15px 0;

        @media all and (min-width: 992px) {
            margin: 240px 0 160px;
        }

        h3 {
            font-size: 28px;
            line-height: 1.5;

            @media all and (min-width: 992px) {
                
            }
        }

        hr {
            border: none;
            border-top: 3px solid $mcx-red;
        }

        p {
            line-height: 1.7;
            font-size: 14px;
            margin: 25px 0;
        }
    }
}

@keyframes golfer-appear {
    from {
        opacity: 0;
        transform: translate(-10%, 10%) scale(1.1);
    }
    to {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}
