section.systems.top {
    height: 70vh;
    min-height: inherit;
    background-image: url('../../assets/images/backgrounds/systems-background.jpg');
    background-position: right bottom;
    background-size: cover;

    @media all and (min-width: 768px) {
        height: 50vh;
    }

    .container {
        height: 100%;
    }

    .intro-text {
        text-align: center;
        padding-top: 30%;

        @media all and (min-width: 992px) {
            padding-top: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
        }

        .mcx {
            width: 100px;
            padding-bottom: 20px;

            @media all and (min-width: 992px) {
                padding-bottom: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .page-title {
            font-size: 36px;
            color: #fff;
            margin: 0;

            @media all and (min-width: 992px) {
                font-size: 60px;
                margin-left: 110px;
            }
        }
    }
}
