doctype html
html(lang='en')
    - var globals = htmlWebpackPlugin.options
    head
        block head
    body
        include ./partials/menu
        
        block content
            
        include ./partials/footer

        script(src= globals.rootUrl + '/vendor/particlesjs/particles.min.js')
