footer
    a(href='/')
        img.logo(src='assets/images/logos/mcx-white.png', alt='MYOCORTEX logo')
    .social-media
        a(href='' title='MYOCORTEX Facebook')
            i.fa.fa-facebook-square(aria-hidden='true')
        a(href='' title='MYOCORTEX Instagram')
            i.fa.fa-instagram(aria-hidden='true')
        a(href='' title='MYOCORTEX Twitter')
            i.fa.fa-twitter-square(aria-hidden='true')
    p © 2017 MYOCORTEX. All rights reserved.
    p Developed by #[a(href="https://brentoncozby.com") Brenton Cozby].
