- var rootUrl = htmlWebpackPlugin.options.rootUrl

footer
    a(href= rootUrl + '/')
        img.logo(src=`${rootUrl}/assets/images/logos/mcx-white.png`, alt='MYOCORTEX logo')
    .site-links
        a(href= rootUrl + '/') home
        a(href= rootUrl + '/analysis') analysis
        a(href= rootUrl + '/systems') systems
        a(href= rootUrl + '/tools') tools
        a(href= rootUrl + '/sign-up') sign-up
    .contact-info
        a(href='tel:305-400-4727') (305) 400-4727
        a(href='https://www.google.com/maps/place/MYOCORTEX+Human+Performance+Systems/@25.77195,-80.1981857,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b69a556f9bfd:0x607914291611f9b9!8m2!3d25.77195!4d-80.195997', target='_blank', rel='noopnener') #[address 111 SW 3rd St, Miami, FL 33130]
        a(href='mailto:info@myocortex.com') info@myocortex.com
    .social-media
        a(href='' title='MYOCORTEX Facebook')
            i.fa.fa-facebook-square(aria-hidden='true')
        a(href='' title='MYOCORTEX Instagram')
            i.fa.fa-instagram(aria-hidden='true')
        a(href='' title='MYOCORTEX Twitter')
            i.fa.fa-twitter-square(aria-hidden='true')
    p © 2017 MYOCORTEX. All rights reserved.
    p Developed by #[a.developer(href="https://brentoncozby.com") Brenton Cozby].
