footer
    a(href= htmlWebpackPlugin.options.rootUrl)
        img.logo(src=`${htmlWebpackPlugin.options.rootUrl}assets/images/logos/mcx-white.png`, alt='MYOCORTEX logo')
    .site-links
        a(href='/') home
        a(href='analysis') analysis
        a(href='systems') systems
        a(href='tools') tools
        a(href='sign-up') sign-up
    .social-media
        a(href='' title='MYOCORTEX Facebook')
            i.fa.fa-facebook-square(aria-hidden='true')
        a(href='' title='MYOCORTEX Instagram')
            i.fa.fa-instagram(aria-hidden='true')
        a(href='' title='MYOCORTEX Twitter')
            i.fa.fa-twitter-square(aria-hidden='true')
    p © 2017 MYOCORTEX. All rights reserved.
    p Developed by #[a(href="https://brentoncozby.com") Brenton Cozby].
