.form-container
    h2 Book Your Consultation
    form#analysis-contact.contact
        label First Name
        input(type='text', name='first_name', required)
        label Last Name
        input(type='text', name='last_name', required)
        label Email
        input(type='email', name='email', required)
        label Phone
        input(type='tel', name='phone', required)
        button(type='submit') RSVP
    p A representation from MYOCORTEX will contact you to schedule a date and time.
