- var rootUrl = htmlWebpackPlugin.options.rootUrl

#menu-button
    span
    span
    span

#menu-container
    .overlay
    .menu
        .title menu
        .links-container
            a(href= rootUrl + '/') home
            a(href= rootUrl + '/analysis') analysis
            a(href= rootUrl + '/systems') systems
            a(href= rootUrl + '/tools') tools
            a(href= rootUrl + '/sign-up') sign-up
        .social-media
            a(href='' title='MYOCORTEX Facebook')
                i.fa.fa-facebook-square(aria-hidden='true')
            a(href='' title='MYOCORTEX Instagram')
                i.fa.fa-instagram(aria-hidden='true')
            a(href='' title='MYOCORTEX Twitter')
                i.fa.fa-twitter-square(aria-hidden='true')            
