#menu-button
    span
    span
    span

#menu-container
    .overlay
    .menu
        .title menu
        .links-container
            a(href='/') home
            a(href='/analysis') analysis
            a(href='/systems') systems
            a(href='/tools') tools
            a(href='/sign-up') sign-up
        .social-media
            a(href='' title='MYOCORTEX Facebook')
                i.fa.fa-facebook-square(aria-hidden='true')
            a(href='' title='MYOCORTEX Instagram')
                i.fa.fa-instagram(aria-hidden='true')
            a(href='' title='MYOCORTEX Twitter')
                i.fa.fa-twitter-square(aria-hidden='true')            
