- var rootUrl = htmlWebpackPlugin.options.rootUrl

#menu-button
    span
    span
    span

#menu-container
    .overlay
    .menu
        .title menu
        .links-container
            a(href= rootUrl + '/') Home
            a(href= rootUrl + '/private-training') Private Training
            a(href= rootUrl + '/group-training') Group Training
            a(href= rootUrl + '/analysis') Analysis
            a(href= rootUrl + '/systems') Systems
            a(href= rootUrl + '/tools') Tools
            a(href= rootUrl + '/sign-up') Sign-up
        .social-media
            a(target='_blank', rel='noopener', href='https://www.facebook.com/MYOCORTEX/', title='MYOCORTEX Facebook')
                i.fa.fa-facebook-square(aria-hidden='true')
            a(target='_blank', rel='noopener', href='https://www.instagram.com/myocortex/', title='MYOCORTEX Instagram')
                i.fa.fa-instagram(aria-hidden='true')
            a(target='_blank', rel='noopener', href='https://twitter.com/myocortex', title='MYOCORTEX Twitter')
                i.fa.fa-twitter-square(aria-hidden='true')            
