@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pathway+Gothic+One');

@font-face {
    font-family: 'Pirulen';
    src: url('../fonts/pirulen/pirulen.ttf');
}

$header-font: 'Pirulen', sans-serif;
$header-font-narrow: 'Pathway Gothic One', sans-serif;
$main-font: 'Open Sans', sans-serif;
$mcx-red: #B63033;

* {
    box-sizing: border-box;
    position: relative;
    font-family: $main-font;
    font-weight: 300;
}

html,
body {
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section {
    width: 100%;
    min-height: 100vh;

    &.banner {
        min-height: inherit;
        height: 50vh;
    }
}

a {

    &:visited {
        color: #555;
    }

    &:hover {
        color: $mcx-red;
    }
}

.btn {
    color: $mcx-red;
    display: inline-block;
    padding: 12px 30px;
    padding-right: 50px;
    border-radius: 22px;
    border: 2px solid #ddd;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 3px;

    &::after {
        position: absolute;
        content: '→';
        font-size: 20px;
        line-height: 1;
        top: 9px;
        right: 20px;
        transition: right 200ms;
    }

    &:hover,
    &:focus {
        border-color: #000;

        &::after {
            right: 10px;
        }
    }
}

.down-arrow {
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    line-height: 1;
    color: #777;
    left: 50%;
    transform: translateX(-50%);
    animation-name: down-arrow;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &:hover,
    &:focus {
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .7);
    }

    i {
        transition: all 0s;
        padding: 0 8px;
    }
}

@keyframes down-arrow {
    0% {
        transform: translateX(-50%) translateY(6px);
    }
    100% {
        transform: translateX(-50%) translateY(-6px);
    }
}

#main-logo-container {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 10;
    transition: all 500ms;

    &.solid-bg {
        background-color: #ddd;
        box-shadow: 0 -2px 7px #444;
    }

    a {
        display: inline-block;
    }

    .main-logo {
        display: block;
        height: 58px;
        padding: 15px;
        padding-bottom: 11px;

        @media all and (min-width: 768px) {
            height: 72px;
        }
    }
}
