.above-the-fold {
    height: 100vh;

    .homepage-hero-module {
        border-right: none;
        border-left: none;
        position: fixed;
        height: 100vh;
        width: 100%;
    }
    .no-video .video-container video,
    .touch .video-container video {
        display: none;
    }
    .no-video .video-container .poster,
    .touch .video-container .poster {
        display: block !important;
    }
    .video-container {
        position: relative;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: #DBDBDB;
    }
    .video-container .poster {
        display: none;
        background-image: url('../../assets/images/backgrounds/homepage-background-mobile.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;

        @media all and (min-width: 992px) {
            background-image: url('../../assets/images/backgrounds/homepage-video-poster.jpg');
            background-position: right top;
        }
    }
    .video-container video {
        position: absolute;
        z-index: 0;
        top: 0;
    }
    .video-container video.fillWidth {
        width: 100%;
    }
    .filter {
        position: absolute;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 95%);
        width: 100%;
        height: 100%;
    }

    .container {
        height: 100%;
    }

    .intro-text {
        position: absolute;
        bottom: 80px;

        @media all and (min-width: 992px) {
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
        }

        h4 {
            font-size: 18px;
            margin: 0;
            border-bottom: 2px solid #999;
            padding-bottom: 15px;

            @media all and (min-width: 768px) {
                font-size: 26px;
            }
        }

        .mcx {
            height: 45px;
            margin-top: 20px;
        }
    }

    .large-statement {
        position: absolute;
        margin: 0;
        font-size: 42px;
        // font-family: $header-font-narrow;
        right: 20px;
        bottom: -20px;
        line-height: 1;
        color: $mcx-red;
        transition: all 0s;
        z-index: 1;

        @media all and (min-width: 992px) {
            display: block;
            font-size: 80px;
            bottom: -30px;
        }
    }

    .down-arrow {
        bottom: 60px;

        @media all and (min-width: 768px) {
            bottom: 20px;
        }
    }
}
