section.respect-the-process {
    padding: 40px 20px;
    background-image:
        linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
        url('../../assets/images/backgrounds/canvas-texture.jpg');
    background-size: cover;
    background-position: center;

    .title {
        position: absolute;
        width: 100%;
        margin: 0;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0px);
        font-size: 40px;
        text-align: center;
        line-height: 1;
        letter-spacing: 0px;
        color: rgba(50, 50, 50, .3);
        transition: all 100ms;

        @media all and (min-width: 992px) {
            font-size: 90px;
        }
    }

    .text {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;

        h4 {
            font-size: 20px;

            @media all and (min-width: 768px) {
                font-size: 24px;
            }
        }

        .learn-more-btn {

        }
    }
}
