section.team-training {
    overflow: hidden;
    padding: 40px 0;
    background-color: darken($mcx-red, 12%);

    .images-container {
        width: 100%;
        height: 60vw;

        @media all and (min-width: 992px) {
            position: absolute;
        }

        .man {
            position: absolute;
            width: 45%;
            right: -40px;
            transform: rotateY(180deg);

            @media all and (min-width: 992px) {
                right: -220px;
                transform: rotateY(180deg) scale(1.1) translateY(0);
            }
        }

        .logo {
            position: absolute;
            width: 40%;
            transform: translateY(140%);
            right: 60px;
            opacity: .7;

            @media all and (min-width: 992px) {
                right: 10%;
                transform: translateY(90%);
            }
        }

        .woman {
            position: absolute;
            right: 40%;
            width: 50%;
            transform: translateY(5%);

            @media all and (min-width: 992px) {
                right: 30%;
                transform: translateY(-3%);
            }
        }
    }

    .text {
        color: #fff;
        max-width: 300px;
        z-index: 1;
        padding: 0 20px;
        padding-bottom: 40px;

        @media all and (min-width: 992px) {
            margin-left: 5%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        h4 {
            margin: 0;
            font-size: 28px;
        }

        p {
            margin: 25px 0;
        }

        a {
            color: #fff;
        }

        a.mind-body-link {
            display: inline-block;
            margin: 10px 0;
            padding: 12px 20px;
            padding-right: 36px;
            border-radius: 22px;
            border: 2px solid #777;
            color: #fff;
            line-height: 1;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            letter-spacing: 3px;

            &::after {
                transition: all 200ms;
                position: absolute;
                content: '→';
                font-size: 20px;
                line-height: 1;
                margin-left: 3px;
                top: 7px;
            }

            &:hover,
            &:focus {
                border-color: #fff;
                padding-right: 40px;

                &::after {
                    margin-left: 6px;
                }
            }
        }
    }
}
