footer {
    background-color: #111;
    text-align: center;
    width: 100%;
    padding: 40px 20px;

    .logo {
        display: block;
        margin: auto;
        width: 60px;
    }

    .social-media {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin: 30px auto;

        a {
            font-size: 32px;
            color: rgba(255, 255, 255, .6);
            transition: all 0s;

            &:hover {
                color: darken($mcx-red, 15%);
            }
        }
    }

    p, a {
        margin: 0;
        color: #fff;
        line-height: 1.7;
        font-size: 14px;
    }
}
