#menu-button {
    position: fixed;
    width: 25px;
    height: 15px;
    top: 15px;
    right: 15px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover,
    &:focus {
        height: 19px;
        transform: translateY(-2px);
    }

    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #555;

        &:nth-of-type(1) {
            transform-origin: 0 0;
        }
        &:nth-of-type(3) {
            transform-origin: 0 bottom;
        }
    }

    &.open {
        right: 10px;

        &:hover,
        &:focus {
            height: 15px;
            transform: translateY(0);

            span {
                background-color: #fff;
            }
        }

        span:nth-of-type(1) {
            transform: rotate(45deg) translateY(-3px);
        }
        span:nth-of-type(2) {
            opacity: 0;
        }
        span:nth-of-type(3) {
            transform: rotate(-45deg) translateY(3px);
        }
    }
}

#menu-button *,
#menu-container * {
    transition: all 500ms;
}

#menu-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -999;

    .overlay {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }

    .menu {
        background-color: #111;
        width: 260px;
        height: 100%;
        position: absolute;
        right: -280px;
        box-shadow: 0 0 25px 5px rgba(0, 0, 0, .7);
    }

    .links-container {
        text-align: center;
        padding-top: 30px;

        a {
            display: block;
            margin: 40px 20px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
            font-weight: 700;
            color: #aaa;
            transition: all 50ms;

            &:hover,
            &:focus {
                color: #fff;
            }
        }
    }

    .social-media {
        position: absolute;
        bottom: 0;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        a {
            display: block;
            color: $mcx-red;
            transition: all 0s;
            font-size: 30px;

            i {
                transition: all 200ms;
            }

            &:hover,
            &:focus {
                color: #fff;
            }
        }
    }

    &.open {
        right: 0;
        z-index: 999;

        .overlay {
            opacity: 1;
        }

        .menu {
            right: 0;
        }
    }
}
