section.tools.content {
    padding: 20px;

    @media all and (min-width: 768px) {
        padding: 80px 20px;
    }

    .content-title {
        font-family: $header-font-narrow;
        font-size: 32px;
        margin: 30px 0;

        @media all and (min-width: 992px) {
            font-size: 50px;
        }
    }

    p {
        line-height: 1.7;
    }
}

section.tools.cta {
    background-image: url('../../assets/images/backgrounds/canvas-texture.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 50vh;

    .text {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    h4 {
        line-height: 1.5;
        font-size: 20px;

        @media all and (min-width: 768px) {
            font-size: 24px;
        }
    }
}
