section.tools.content {
    padding: 20px;

    @media all and (min-width: 768px) {
        padding: 80px 20px;
    }

    .content-title {
        font-family: $header-font-narrow;
        font-size: 32px;
        margin: 30px 0;

        @media all and (min-width: 992px) {
            font-size: 50px;
        }
    }

    p {
        line-height: 1.7;
    }
}
